.title {
    padding-bottom: 50px;
}

.sentence {
    padding-top: 100px;
    padding-bottom: 100px;
}

.underline-on-hover:hover {
    text-decoration: underline;
    cursor: pointer;
}

.underline-always {
    text-decoration: underline;
}

h1 {
    font-size: 100px;
}

p {
    font-size: 20px;
}

.text-title {
    font-size: 13px;
}

body {
    padding-top: 100px;
}

connection {
    border: 1px solid gray;
    border-radius: 100%;
}